.form {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
  padding: 3rem 5rem 0rem;
}

.inputField {
  border: none;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.7rem;
  border-radius: 2rem;
  grid-column: span 4 / span 4;
  outline: none;
}

.inputField.lg {
  grid-column: span 5 / span 5;
}

.inputField.xlg {
  grid-column: span 6 / span 6;
}

.inputField.last {
  grid-column-start: 8;
}

.auth-wrap {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
}

.auth {
  width: 100%;
  display: block;
  padding: 0.7rem 0rem;
  background-color: #09cc5c;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  margin: auto;
  margin-bottom: 3%;
}

.auth-other {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2.3rem;
}

.forgotPassword {
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0px 0.5px 10px #46785c;
  display: inline-block;
  margin: 0px;
}

.register {
  color: #d17b7b;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: normal;
}

@media screen and (max-width: 720px) {
  .form {
    padding: 3rem 2rem 0;
  }

  .inputField {
    grid-column: span 6 / span 6;
  }
  .inputField.lg {
    grid-column: span 6 / span 6;
  }
  .inputField.last {
    grid-column-start: unset;
  }
}

@media screen and (max-width: 500px) {
  .form {
    grid-template-columns: auto;
    padding: 1.5rem 1.5rem 0;
    gap: 1.5rem;
  }
  .inputField,
  .inputField.lg,
  .inputField.xlg {
    grid-column: -1 / 1;
  }
}
