.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0rem 2rem;
}

.center {
  width: fit-content;
  margin: -1rem auto 1rem;
  text-align: center;
}

.page-title {
  margin: 0 auto 1.8rem !important;
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0.5px 10px #46785c;
}

.question {
  width: 75%;
  margin: 1% auto;
  background-color: white;
  padding: 0.4rem;
  display: block;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #626262;
  font-weight: bold;
}

h1.question {
  text-align: center;
  margin-top: 3rem;
}

input[type="checkbox"] {
  margin-right: 0.7rem;
}
