.background {
  background-image: url(../../assets/images/library.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  position: relative;
}

.card {
  width: 65%;
  max-width: 40rem;
  height: fit-content;

  background: linear-gradient(
      135.23deg,
      #eaeae4 12.02%,
      rgba(238, 232, 178, 0.72071) 33.56%,
      rgba(145, 211, 61, 0.292715) 64.02%,
      rgba(169, 204, 30, 0.18) 83.77%
    ),
    #ffffff;
  border-radius: 19px;
  margin: 5rem auto;
}

.logo {
  position: absolute;
  width: 4.3rem;
  right: 1rem;
  bottom: 0.3rem;
  cursor: pointer;
}

.container {
  position: relative;
}

.heading {
  font-weight: bold;
  line-height: 4.4rem;
  padding-top: 0.4rem;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.155em;
  color: #46785c;
  margin: 0;
}

.heading.small {
  font-size: 2.7rem;
}

.checkMark {
  position: absolute;
  bottom: -1.2rem;
  left: 41%;
  width: 10rem;
}

.checkMark.red path {
  fill: #d5a496;
}

.smallNut {
  position: absolute;
  bottom: -1.3rem;
  left: 16%;
  width: 2.3rem;
}

.largeNut {
  position: absolute;
  bottom: -3.5rem;
  right: 10%;
  width: 5rem;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .heading.small {
    font-size: 2rem;
  }

  .checkMark {
    left: 40%;
    width: 8rem;
  }
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 533.5px) {
  .heading.small {
    line-height: 1.5;
  }
}

@media screen and (max-width: 426px) {
  .heading {
    font-size: 2.5rem;
  }

  .card {
    width: 90%;
  }

  .checkMark {
    width: 7rem;
    bottom: -1rem;
    left: 37%;
  }

  .logo {
    right: 0.3rem;
    bottom: 0.2rem;
  }
}
