.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7% auto auto;
}

.wrapper {
  align-items: flex-end;
  display: flex;
  width: 66%;
  margin: auto auto 7%;
  margin-bottom: 2%;
}

.green {
  color: #46785c;
  font-weight: bold;
}

.inputField {
  border: none;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.6rem;
  margin-left: 0;
  margin-bottom: 0.3rem;
  border-radius: 2rem;
  width: 100%;
}

.small-space {
  margin-bottom: 4%;
}

.auth {
  width: 66%;
  display: block;
  padding: 0.7rem 0rem;
  background-color: #09cc5c;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  margin: auto;
  margin-bottom: 3%;
}

.auth-other {
  display: flex;
  flex-direction: row;
  width: 66%;
  margin: auto;
  justify-content: end;
  margin: 1rem auto 2.5rem;
}

.forgotPassword {
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0px 0.5px 10px #46785c;
  display: inline-block;
  margin: 0px;
}

.register {
  color: #d17b7b;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: normal;
}

.wrapper > p {
  text-align: center;
  margin: 0 auto;
}
