.row,
.buttons,
.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 75%;
  margin: 4% auto 7%;
}

.statistics,
.row {
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.buttons {
  margin-top: 3%;
  margin-bottom: 15%;
}

.rotate {
  transform: rotate(180deg);
  transition: all 1s;
}

.clickable {
  cursor: pointer;
}

.form {
  margin-top: 2%;
  margin-bottom: 4%;
}

.heading {
  width: 75%;
  margin: 3rem auto 1%;
  background-color: white;
  padding: 0.4rem;
  display: flex;
  column-gap: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #626262;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
