.formButton {
  background: #2ec06d;
  color: white;
  border-radius: 0.4rem;
  border: none;
  width: 18rem;
  height: 2.5rem;
  margin: 1rem;
  font-size: 1.05rem;
}

.formButton:hover {
  background: #89d19e;
}

.formButton.active {
  background: #9d9d9d;
}

.form-select {
  margin-top: 2%;
  margin-bottom: 4%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0rem 2rem;
}

.buttonGroup {
  width: fit-content;
  margin: 3% auto 4%;
}

.radio-button {
  background: #2ec06d;
  color: white;
  border-radius: 0.4rem;
  border: none;
  width: 13rem;
  height: 2rem;
  margin: 1rem;
  font-size: 1.05rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: white;
}

.radio-button:hover input[type="radio"],
input[type="radio"]:hover {
  background-color: hsl(0, 0%, 86%);
  cursor: pointer;
}

.radio-button:hover {
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #9d9d9d;
  box-shadow: inset 0px 0px 0px 2.5px #ffff;
}

.view {
  margin: 8% auto 14%;
  display: block;
  height: 3rem;
  width: 15rem;
}
