.background {
  background: linear-gradient(
    180deg,
    rgba(211, 61, 61, 0) 0%,
    rgba(211, 61, 61, 0.0984375) 54.17%,
    rgba(211, 61, 61, 0.18) 100%
  );
  padding-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0rem 2rem;
}

.avatar {
  margin: auto;
}

.logout {
  margin: 0 3.5rem;
  color: #c60202;
  font-weight: bold;
  cursor: pointer;
}

.socialsWrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto 3rem auto 0;
  column-gap: 0.8rem;
}

.icon {
  cursor: pointer;
}

.smallIcon {
  width: 1.8rem;
  height: 1.8rem;
  align-self: center;
  cursor: pointer;
}

.center {
  width: fit-content;
  margin: -1rem auto 1rem;
  text-align: center;
}

.center p {
  color: white;
  text-shadow: 0px 0.5px 10px #46785c;
  font-weight: bolder;
  margin: 0.5rem auto;
}

.column {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto 0;
}

.red {
  color: #c60202;
  font-weight: bold;
}

.green {
  color: #029141;
  font-weight: bold;
}
