body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa", "Roboto", "Ubuntu", sans-serif;
  margin: 0px;
}

h2 {
  text-align: center;
  letter-spacing: 0.405em;
  font-weight: bold;
  font-size: 2rem;
  color: #777777;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-red {
  background: linear-gradient(
    180deg,
    rgba(211, 61, 61, 0.18) 0%,
    rgba(211, 61, 61, 0.0984375) 54.17%,
    rgba(211, 61, 61, 0) 100%
  );
  display: flex;
  flex-direction: column;
  flex: 1;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
  }
}
