body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa", "Roboto", "Ubuntu", sans-serif;
  margin: 0px;
}

h2 {
  text-align: center;
  letter-spacing: 0.405em;
  font-weight: bold;
  font-size: 2rem;
  color: #777777;
}

/* Background for SignIn, SignUp & Register */

button:hover {
  cursor: pointer;
}

.background {
  background-image: url(./assets/images/library.jpg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card {
  width: 50%;
  height: fit-content;

  background: linear-gradient(
      135.23deg,
      #eaeae4 12.02%,
      rgba(238, 232, 178, 0.72071) 33.56%,
      rgba(145, 211, 61, 0.292715) 64.02%,
      rgba(169, 204, 30, 0.18) 83.77%
    ),
    #ffffff;
  border-radius: 19px;
}

.logo {
  position: absolute;
  width: 4.3rem;
  right: 1rem;
  bottom: 0.3rem;
}

.container {
  position: relative;
}

.heading {
  font-weight: bold;
  line-height: 4.4rem;
  padding-top: 0.4rem;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.155em;
  color: #46785c;
  margin: 0;
}

.checkMark {
  position: absolute;
  bottom: -1.2rem;
  left: 41%;
}

.checkMark.red path {
  fill: #d5a496;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
}

/* SignIn Form */

.form {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
}

.wrap {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.wrapper {
  margin-bottom: 5%;
  align-items: flex-end;
  display: flex;
}

.inputField {
  padding: 1rem 0.6rem 0.7rem;
  width: 24rem;
  margin-left: 1.4rem;
  margin-bottom: 0.3rem;
  border-radius: 0.4rem;
  border: none;
  box-sizing: border-box;
}

.auth {
  width: 100%;
  display: block;
  margin-bottom: 6%;
  padding: 0.7rem 0rem;
  background-color: #09cc5c;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.auth-wrap {
  align-self: flex-end;
  width: 24rem;
}

.auth-other {
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register {
  color: #d17b7b;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: normal;
}

.forgotPassword {
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0px 0.5px 10px #46785c;
  display: inline-block;
  margin: 0px;
}

/* User Registration Form */

.col {
  margin: auto;
  margin-bottom: 3%;
  flex-direction: column;
  display: flex;
}

.form.new {
  margin: auto;
  margin-top: 7%;
  justify-content: center;
}

.auth.new {
  margin: auto;
  margin-bottom: 3%;
}

.auth-other.new {
  width: 66%;
  margin: auto;
  margin-bottom: 2.3rem;
}

.inputField.new {
  padding: 0.9rem 1.4rem 0.6rem;
  width: 8rem;
  margin-left: 1.4rem;
  margin-bottom: 0.3rem;
  border-radius: 2rem;
}

.inputField.lg {
  width: 11rem;
}

.inputField.xlg {
  width: 9rem;
}

.wrapper.space {
  justify-content: space-between;
}

/* PasswordRecovery Page */

.row-center {
  width: 66%;
  margin: auto;
  margin-bottom: 7%;
}

.inputField.xxlg {
  width: 100%;
}

.auth-other.new.end {
  margin: 1rem auto 2.5rem;
  justify-content: end;
}

.heading.small {
  font-size: 2.7rem;
}

/* Password Reset Page */

.wrapper.no-space {
  margin-bottom: 2%;
}

.wrapper.small-space {
  margin-bottom: 4%;
}

.inputField.full {
  margin-left: 0;
}

.green {
  color: #46785c;
  font-weight: bold;
}

/* Admin SignIn Page */

.wrench {
  margin-bottom: -0.3rem;
  margin-right: -0.2rem;
}

.nut-small {
  position: absolute;
  bottom: -1.3rem;
  left: 16%;
}

.nut-large {
  position: absolute;
  bottom: -3.5rem;
  right: 10%;
}

/* Landing Page  */

.title {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: rgb(0, 0, 0);
  margin: auto;
}

.action-top {
  margin-top: 3rem;
  margin-right: 3rem;
  text-decoration: none;
  color: #d17b7b;
  font-weight: bolder;
  font-size: 1.2rem;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.background-red {
  background: linear-gradient(
    180deg,
    rgba(211, 61, 61, 0.18) 0%,
    rgba(211, 61, 61, 0.0984375) 54.17%,
    rgba(211, 61, 61, 0) 100%
  );
}

.content {
  margin: 3% auto 4%;
  display: flex;
  flex-direction: row;
  width: 94%;
}

.books {
  border: none;
  width: 46%;
}

.col.new {
  margin: auto;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}

.col.new p {
  margin: 0 0 2%;
}

.column {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto 0;
}

a {
  text-decoration: none;
}

.red {
  color: #c60202;
  font-weight: bold;
}

.light-green {
  color: #029141;
  font-weight: bold;
}
