@import url(//db.onlinewebfonts.com/c/c9f309b3d47969ecac64a77a6c672594?family=Nexa+Bold);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Nexa Bold", "Roboto", "Ubuntu", sans-serif;
  margin: 0px;
}

/* Background for SignIn, SignUp & Register */

button:hover {
  cursor: pointer;
}

.background {
  background-image: url(./assets/images/library.jpg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card {
  width: 50%;
  height: fit-content;

  background: linear-gradient(
      135.23deg,
      #eaeae4 12.02%,
      rgba(238, 232, 178, 0.72071) 33.56%,
      rgba(145, 211, 61, 0.292715) 64.02%,
      rgba(169, 204, 30, 0.18) 83.77%
    ),
    #ffffff;
  border-radius: 19px;
}

.logo {
  position: absolute;
  width: 4.3rem;
  right: 1rem;
  bottom: 0.3rem;
}

.container {
  position: relative;
}

.heading {
  font-weight: bold;
  line-height: 4.4rem;
  padding-top: 0.4rem;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.155em;
  color: #46785c;
  margin: 0;
}

.checkMark {
  position: absolute;
  bottom: -1.2rem;
  left: 41%;
}

.checkMark.red path {
  fill: #d5a496;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
}

/* SignIn Form */

.form {
  margin-left: 10%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper {
  margin-bottom: 5%;
  align-items: flex-end;
  display: flex;
}

.inputField {
  padding: 0.9rem 0.6rem 0.6rem;
  width: 63%;
  margin-left: 1.4rem;
  margin-bottom: 0.3rem;
  border-radius: 0.4rem;
  border: none;
}

.auth {
  width: 66%;
  margin-left: 5rem;
  margin-bottom: 5%;
  padding: 0.5rem 0rem;
  background-color: #09cc5c;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.auth-other {
  width: 59%;
  margin-left: 9rem;
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register {
  color: #d17b7b;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: normal;
}

.forgotPassword {
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0px 0.5px 10px #46785c;
  display: inline-block;
  margin: 0px;
}

/* User Registration Form */

.col {
  margin: auto;
  margin-bottom: 3%;
  flex-direction: column;
  display: flex;
}

.form.new {
  margin: auto;
  margin-top: 7%;
  justify-content: center;
}

.auth.new {
  margin: auto;
  margin-bottom: 3%;
}

.auth-other.new {
  width: 66%;
  margin: auto;
  margin-bottom: 2.3rem;
}

.inputField.new {
  padding: 0.9rem 1.4rem 0.6rem;
  width: 5.5rem;
  margin-left: 1.4rem;
  margin-bottom: 0.3rem;
  border-radius: 2rem;
}

.inputField.lg {
  width: 8rem;
}

.inputField.xlg {
  width: 9rem;
}

.wrapper.space {
  justify-content: space-between;
}

/* PasswordRecovery Page */

.row-center {
  width: 66%;
  margin: auto;
  margin-bottom: 7%;
}

.inputField.xxlg {
  width: 100%;
}

.auth-other.new.end {
  margin: 1rem auto 2.5rem;
  justify-content: end;
}

.heading.small {
  font-size: 2.7rem;
}
